<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sa.walletsa">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/wallet_sa_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wallet_sa_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.sa.com/walletsa” -->
                <data
                    android:host="www.sa.com"
                    android:pathPrefix="/walletsa"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
                <!--
                Accepts URIs that begin with "sa://walletsa”
                <data android:scheme="sa"
                      android:host="walletsa" />
                -->
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".RegisterNewUserActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".NewTransactionActivity"
            android:label="@string/app_name" />
    </application>

</manifest>